body {
    background-color: rgb(214, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.laptop-information {
    grid-column: 1 / 4;
}

.bank-balance,  .work-element, .laptop-selection, .laptop-information {
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}

#balance, #loan, #pay {
    display: inline;
}

button {
    padding: 7px;
}

#get-loan {
    background-color: rgb(163, 241, 163);
    border-radius: 5px;
    border-width: 0px;
    display: block;
    width: 100%
}

#get-loan:hover {
    background-color: rgb(123, 228, 123);
}

#bank, #work {
    display: inline-flex;
    justify-content: center;
    width: 45%;
    background-color: rgb(110, 110, 214);
    border-radius: 5px;
    border-width: 0px;

}

#bank:hover, #work:hover {
    background-color: rgb(78, 78, 196);
}

#laptop-features {
    font-size: 0.7em;
}